<!DOCTYPE html>
<html>
    <body>
        <head>
            <link rel="stylesheet" href="../static/styles/index.css">
        </head>
        <main>
            <h1>
                Add an Item
            </h1>
            <form method='POST' action="/addItem">
                <p>Enter the Item's Name: <input type="text" name="itemName"></p>
                <p>Enter the Item's Date(XX/XX/XXXX): <input type="text" name="itemDate"></p>
                <p>Enter the Item's Time(XX:XX [AM/PM]): <input type="text" name="itemTime"></p>
                <input type="submit" value="Submit">
            </form>
            <form action="/" method="GET">
                <input type="submit" value="Done">
            </form>
        </main>
    </body>
</html>