<!DOCTYPE html>
<html>
    <head>
        <title>TODO App</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/styles/index.css">
    </head>
    <body>
        <main>
            <h1>TODO List</h1>
            <table>
                <tr>
                    <td></td>
                    <th>Event Name</th>
                    <th>Event Date</th>
                    <th>Event Time</th>
                </tr>
                {% for item in todo_items %}
                    <tr>
                        <td><!-- Add Remove Button and make it work --></td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.date.strftime('%B %d, %Y') }}</td>
                        <td>{{ item.time }}</td>
                    </tr>
                {% endfor %}
            </table>
        </main>
    </body>
</html>